apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: nginx-demo
spec:
  tls:
    - secretName: ${SECRET_NAME}
      hosts:
        - 'secure.k8s.com'
  rules:
    - host: secure.k8s.com
      http:
        paths:
          - backend:
             serviceName: blog
             servicePort: 80
